@import url(https://db.onlinewebfonts.com/c/545a1e2bdf8e1613f10f34eb87c9983f?family=Super+Mario+286%28RUS+BY+LYAJKA%29);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation var(--pipe-duration) infinite linear;
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }to{
        right: 100%
    }
}

.mario{
    width: 160px;
    position: absolute;
    bottom: 0;
    
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes jump{
    0%{
        bottom: 0;
    }40%{
        bottom: 180px;
    }50%{
        bottom: 180px;
    }60%{
        bottom: 180px;
    }100%{
        bottom: 0;
    }
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
    z-index: 1;
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }to{
        right: 100%;
    }
}

.restart{
    font-family: "Super Mario 286(RUS BY LYAJKA)", sans-serif;
    font-size: 16px;
    color: #ff0000;
    background-color: #ffcc00;
    border: 2px solid #ff0000;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    text-shadow: 2px 2px 2px #7a0404;
}

.score{
    font-family: "Super Mario 286(RUS BY LYAJKA)", sans-serif;;
    position: absolute;
    font-size: 24px;
    color: #ffcc00;
    text-shadow: 2px 2px 4px #ff0000;
    letter-spacing: 2px;
    z-index: 10;
    top: 10px;
    right: 10px;
}

.score-number {
    color: #ffcc00;
    display: inline-block;
    background-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-position 0.5s linear;
}

.blink-restart{
    animation: blink-restart 1.2s infinite alternate;
}

.blink-score{
    animation: blink-score 1s infinite alternate;
}

@keyframes blink-restart {
    0% {
        opacity: 1;
        top: 50%;
    }
    20% {
        opacity: 0.8;
        top: 49.5%;
    }
    40% {
        opacity: 0.7;
        top: 50%;
    }
    60% {
        opacity: 0.6;
        top: 49.5%;
    }
    80% {
        opacity: 0.5;
        top: 50%;
    }
    100% {
        opacity: 0.1;
        top:  49.5%;
    }
}

@keyframes blink-score {
    from{
        opacity: 1;
    }to{
        opacity: 0.5;
    }
}

:root {
    --pipe-min-duration: 1s; /* Duração mínima da animação */
    --pipe-max-duration: 2s; /* Duração máxima da animação */
  }